  
<table class="table">
    <tbody>
        <tr>
            <td>Диагональ</td>
            <td>{{ product.diagonal }}</td>
        </tr>
        <tr>
            <td>Тип дисплея</td>
            <td>{{ product.display_type }}</td>
        </tr>
        <tr>
            <td>Разрешение экрана</td>
            <td>{{ product.resolution }}</td>
        </tr>
        <tr>
            <td>Оперативная память</td>
            <td>{{ product.ram }}</td>
        </tr>
        <tr>
            <td>Объем батареи</td>
            <td>{{ product.accum_volume }}</td>
        </tr>
        {% if product.sd %}
        <tr>
            <td>Максимальный объем SD карты</td>
            <td>{{ product.sd_volume }}</td>
        </tr>
        {% endif %}
        <tr>
            <td>Задняя камера</td>
            <td>{{ product.main_cam }}</td>
        </tr>
        <tr>
            <td>Передняя камера</td>
            <td>{{ product.frontal_cam }}</td>
        </tr>
    </tbody>
</table>